@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf");
  src: url("assets/fonts/Lato-Bold.ttf");
  src: url("assets/fonts/Lato-Italic.ttf");
  src: url("assets/fonts/Lato-Thin.ttf");
  src: url("assets/fonts/Lato-Black.ttf");
  src: url("assets/fonts/Lato-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "sans-serif";
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.main-color {
  color: #f06c64;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 6px;
  letter-spacing: 0px;
}

h2 {
  font-size: 30px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 28px;
  letter-spacing: 0.9px;
}

h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 30px;
}
.header {
  background-color: #323746;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  padding-top: 35px;
  padding-bottom: 37px;
}
.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
=======
 }

 .menu-mobile .hamburger >div::before, 
 .menu-mobile .hamburger >div::after {
   content: '';
   position: absolute;
   z-index: 6;
   top: -10px;
   width: 100%;
   height: 100%;
   background: inherit;
} 



.menu-mobile .hamburger >div::after { 
  top: 10px;
}


.menu-mobile .hamburger >div:hover{
background-color: #f06c64;
}
.menu-mobile .hamburger-rotate {
  transform: rotate(90deg);
}
 
.navbar a {
  color: #fff;
>>>>>>> a3c2122... feat: add responsive
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}
.navbar ul li {
  padding-right: 21px;
  padding-top: 5px;
  font-size: 11px;
  line-height: 6px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar ul li:last-child {
  padding-right: 0;
}

.navbar ul li:first-child {
  padding-top: 8px;
}

.navbar ul li:hover {
  color: #f06c64;
  cursor: pointer;
}

.active {
  color: #f06c64;
}

li:not(:first-child):before {
  content: ".";
  position: relative;
  bottom: 4px;
  left: -10px;
  font-weight: 400;
  font-size: 19px;
  color: #494e62;
}

.promo {
  background-color: #f06c64;
  height: 594px;
  border-top: 6px solid #323746;
  border-bottom: 6px solid #ea676b;
}

.vertical-phone {
  position: absolute;
  top: 54px;
  left: 113px;
}

.horizontal-phone {
  position: absolute;
  top: 175px;
  left: 426px;
}

.chev-left {
  position: absolute;
  top: 280px;
  left: 43px;
  width: 16px;
  height: 27px;
  opacity: 60%;
}

.chev-left,
.chev-right {
  position: absolute;
  top: 280px;
  width: 16px;
  height: 27px;
  opacity: 60%;
}

.chev-left {
  left: 43px;
}
.chev-right {
  right: 43px;
  transform: rotate(180deg);
}

.chev-left:hover,
.chev-right:hover {
  opacity: 100%;
  cursor: pointer;
}

.promo > div {
  position: relative;
}

.services {
  color: #666d89;
  text-align: justify;
  background-color: #f2f2f2;
}
.services > div {
  padding-top: 68px;
  padding-bottom: 35px;
}

.services .layout-3-col {
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;
  box-sizing: border-box;
  width: 960px;
}

.services .layout-3-col .layout-para {
  display: flex;
  width: 300px;
  margin-right: 20px;
  padding-bottom: 30px;
  text-align: justify;
}

.services .layout-3-col .layout-para .s-text {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
}
.services .layout-3-col .layout-para .icon {
  margin-right: 20px;
}

.portfolio {
  background-color: #2d303a;
  color: #666d89;
  padding-top: 68px;
  padding-bottom: 52px;
}

.portfolio h2,
.about-us h2 {
  letter-spacing: 1px;
}

.portfolio ul {
  list-style: none;
  display: flex;
  justify-content: left;
  margin-top: 9px;
}

.portfolio ul li {
  justify-content: left;
  padding: 1px 7px;
  margin-right: 12px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  border: 1px solid #666d89;
  border-radius: 5px;
  letter-spacing: 0px;
}

.portfolio ul li:last-child {
  padding: 1px 4px;
}

.portfolio ul li:first-child {
  padding-top: 2px;
}
.portfolio ul li:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}

.portfolio ul li.active-nav {
  color: #fff;
  border: 1px solid #fff;
}

.portfolio .layout-4-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  box-sizing: border-box;
  width: 940px;
}

.portfolio .layout-4-col img {
  margin-bottom: 20px;
}

.about-us {
  color: #666d89;
  padding-top: 69px;
  padding-bottom: 70px;
}

.about-us .team {
  display: flex;
  margin-top: 42px;
  justify-content: space-between;
  width: 960px;
}

.about-us .team .team-person h3 {
  margin-top: 13px;
  letter-spacing: 0.5px;
}

.about-us .team .team-person p {
  margin-top: 12px;
  font-size: 12px;
  line-height: 22px;
}

.about-us .team .team-person .social-info img {
  margin-top: 22px;
  margin-right: 5px;
}

.about-us .team .team-person .social-info a:hover {
  opacity: 80%;
}

.quote {
  background-color: #f06c64;
  color: #fff;
  padding-top: 68px;
  border-bottom: 6px solid #ea676b;
}

.quote .feedback {
  display: flex;
  justify-content: space-between;
  margin-top: 42px;
}

.quote .feedback p,
.quote .feedback h2 {
  letter-spacing: 1.1px;
  text-align: justify;
}

.quote .message {
  display: flex;
  flex-direction: column;
}

.quote .message input,
.quote .message textarea {
  background-color: #d6564f;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 18px;
  padding: 10px 5px 10px 14px;
  resize: none;
  width: 598px;
  letter-spacing: 0.1px;
  color: #f48c8f;
}
.quote .message textarea {
  padding-bottom: 15px;
}

.quote .message input::placeholder,
.quote .message textarea::placeholder {
  color: #f48c8f;
  font-size: 11px;
  line-height: 22px;
  font-family: "Lato";
}

.quote .message .submit {
  padding: 6px;
  margin-bottom: 20px;
  width: 100px;
  cursor: pointer;
}
.quote .message .submit:hover {
  opacity: 80%;
}

.quote .message textarea {
  padding-top: 3px;
}

.quote .contact {
  text-align: left;
  margin-left: 18px;
}

.quote .contact h3 {
  letter-spacing: 0.5px;
}

.quote .contact p {
  letter-spacing: 0px;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
}

.quote .contact .contact-info {
  margin-top: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: 0px;
}

.quote .contact .contact-info img {
  margin-right: 10px;
  margin-left: 5px;
}

footer {
  background-color: #2d303a;
  color: #666d89;
  padding: 23px 0 19px 0;
  font-size: 12px;
}
footer > div {
  display: flex;
  justify-content: space-between;
}
footer .copy {
  padding-top: 6px;
}

.social-foot a {
  margin-left: 6px;
  opacity: 60%;
}

.social-foot a:hover {
  opacity: 100%;
}
<<<<<<< HEAD
=======

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #0007;
  
 
}

.modal-feedback {
  position: fixed;
  padding: 20px 30px;
  background-color: #f06c64;
  top: 40%;
  left: calc(50% - 150px);
  width: 300px;
  border: 2px solid #fff;
  max-height: 400px;
  overflow-y: scroll;
 

}

.modal .btn-ok {
  border: 1px solid transparent;
  padding: 2px 4px;
  color: #fff;
  background-color:#d6564f;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  
}

#result {
  font-size: 16px;
  line-height: 1px;
  
  
}

.hidden {
  display: none;
}


@media (max-width: 1019px) {
    
.slider-container {
  height: 58vw; 
}

.slider-container .vertical-phone {
  position: absolute;
  top: 60px;
  left: 8%;
  width: 23vw;
}

.slider-container .horizontal-phone {
  position: absolute;
  top: 150px;
  right: 5%;
  height: 23vw;
}


.vertical-phone-off, .horizontal-phone-off {
 display: none;
}

.second-slide img {
   padding-top: 6%;
     }


.layout-3-col .layout-para {
  max-width: 46%;
  }

  .portfolio .portf-img {
     flex: 1 0 25%;
  }

}

@media (max-width: 767px) {
   
  /* .navbar {
    display: none;
  } */

  .menu-mobile .hamburger{ 
    display: flex;
  }
  
  .header .menu {
    display: block;
  
    }
  
    .header .nav-mobile {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width:60vw;
      z-index: 4;
      background-color: #2D303A;
      padding-top: 35px;
      padding-left: 70px;
        }

  
  .navbar ul {
    display: none;
       }
   
    .navbar .active-ul {
      display: block;
      margin-top: 40%;
      margin-left: 70px;
    } 

    .navbar ul li {
      padding: 30px 0;
      font-size: 24px;
    }
    
    .navbar li:not(:first-child):before {
     display: none;
    }
    


  .logo {
    text-align: center;

  }

  .logo-left {
    position: fixed;
    top: 35px;
    left:140px;
    z-index: 10;
  }

  
  .slider-container {
    height: 65vw; 
  }

  .second-slide img {
    padding-top: 1%;
      }

  .slider-container .vertical-phone {
    top: 10vw;
    left: 3%;
   
  }
  
  .slider-container .horizontal-phone {
    top: 20vw;
    right: 1%;
  }

.chev-left,
.chev-right {
  width: 10px;
  height: 20px;
 }

 .chev-left {
  left: 20px;
}
.chev-right {
  right: 20px;
  transform: rotate(180deg);
}

.layout-3-col .layout-para {
  max-width: 100%;
  }

  .portfolio .portf-img {
    flex: 1 0 40%;
 }
 .about .team {
  grid-template-columns: repeat(1, 1fr);
  margin-top: 42px;
}

.quote .feedback {
  display: block;
  padding-bottom: 20px;
  }
  .quote .message .submit {
       width: 100%;
       padding: 10px 6px;
   }

  .nav-mobile {
    display: block;
  }
 
  .overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0007;
    z-index: 1;
  }
 

.overlay-on {
  display: flex;
}

footer .copy {
  display: none;
}

.social-foot {

margin: 0 auto;
}
  
 
}
@media (max-width: 374px) {
body {
  overflow: hidden;
}
}
>>>>>>> a3c2122... feat: add responsive
